In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("CovidDeathss.csv")

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85171 entries, 0 to 85170
Data columns (total 26 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   iso_code                            85171 non-null  object
 1   continent                           81060 non-null  object
 2   location                            85171 non-null  object
 3   date                                85171 non-null  object
 4   population                          84622 non-null  float64
 5   total_cases                         83072 non-null  float64
 6   new_cases                           83070 non-null  float64
 7   new_cases_smoothed                  82069 non-null  float64
 8   total_deaths                        73408 non-null  float64
 9   new_deaths                          73566 non-null  float64
 10  new_deaths_smoothed                 82069 non-null  float64
 11  total_cases_per_million             82623 non-null  float64
 12  new_cases_per_million               82621 non-null  float64
 13  new_cases_smoothed_per_million      81625 non-null  float64
 14  total_deaths_per_million            72972 non-null  float64
 15  new_deaths_per_million              73130 non-null  float64
 16  new_deaths_smoothed_per_million     81625 non-null  float64
 17  reproduction_rate                   68942 non-null  float64
 18  icu_patients                        8684 non-null   float64
 19  icu_patients_per_million            8684 non-null   float64
 20  hosp_patients                       10814 non-null  float64
 21  hosp_patients_per_million           10814 non-null  float64
 22  weekly_icu_admissions               789 non-null    float64
 23  weekly_icu_admissions_per_million   789 non-null    float64
 24  weekly_hosp_admissions              1295 non-null   float64
 25  weekly_hosp_admissions_per_million  1295 non-null   float64
dtypes: float64(22), object(4)
memory usage: 16.9+ MB

In [8]:
df.head(150)

,iso_code,continent,location,date,population,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,new_deaths_smoothed_per_million,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million
0,AFG,Asia,Afghanistan,2020-02-24,38928341.0,1.0,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,38928341.0,1.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,38928341.0,1.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,38928341.0,1.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,38928341.0,1.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,AFG,Asia,Afghanistan,2020-07-18,38928341.0,35279.0,60.0,131.857,1166.0,17.0,...,0.624,0.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146,AFG,Asia,Afghanistan,2020-07-19,38928341.0,35453.0,174.0,144.571,1183.0,17.0,...,0.628,0.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147,AFG,Asia,Afghanistan,2020-07-20,38928341.0,35493.0,40.0,128.286,1185.0,2.0,...,0.532,0.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148,AFG,Asia,Afghanistan,2020-07-21,38928341.0,35605.0,112.0,125.000,1188.0,3.0,...,0.455,0.71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149,AFG,Asia,Afghanistan,2020-07-22,38928341.0,35717.0,112.0,104.714,1192.0,4.0,...,0.352,0.72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN